:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2f303a;
  --third-text-color: #757575;
  --fourth-text-color: #ffffff;
  --logo-color: #000000;
  --secondary-logo-color: #afb1b8;
  --address-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --button-hover: #188ce8;
  --primary-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  background-color: var(--fourth-text-color);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--fourth-text-color);
}

.logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo:focus,
.footer-logo:focus {
  outline: none;
}

.link:hover,
.link:focus,
.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-list .link.current {
  position: relative;
}

.header-list .link.current::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.link,
.info-link,
.current {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-link {
  color: var(--third-text-color);
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-item,
.header-mail,
.header-phone {
  margin-right: 50px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-item:last-child,
.header-phone:last-child {
  margin-right: 0;
}

.header-mail,
.header-phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

.header-icon {
  fill: currentColor;

  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  background-color: var(--hero-background-color);
  text-align: center;

  max-width: 1600px;

  background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)),
    url(../images/Img-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;
  margin: 0 auto;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--fourth-text-color);
}

.order-button {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin-top: 30px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 216px;

  border-color: transparent;
  color: var(--fourth-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--button-hover);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-title-hidden,
.portfolio-title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.about-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-header {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.about-list {
  display: flex;
}

.about-info {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.about-info:last-child {
  margin-right: 0;
}

.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: var(--primary-background-color);
  border-radius: 4px;
}

.our-works {
  padding-top: 47px;
  padding-bottom: 94px;
}

.our-work {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-list:last-child {
  margin-right: 0;
}

.our-service {
  position: relative;
}

.our-work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.our-work-title,
.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-background-color);
}

.team-photos {
  display: flex;
}

.team-member,
.member-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-member {
  margin-bottom: 10px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-description {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;

  background-color: var(--fourth-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description:last-child {
  margin-right: 0;
}

.team-member {
  font-weight: 500;
}

.member-title {
  font-weight: 400;
  margin-bottom: 16px;

  color: var(--third-text-color);
}

.team-social {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.social-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--secondary-logo-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  fill: var(--fourth-text-color);
  background-color: var(--accent-color);
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: center;

  gap: 30px;
}

.clients-header {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.clients-link {
  width: 170px;
  height: 92px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--secondary-logo-color);
  border-radius: 4px;

  color: var(--secondary-logo-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
  fill: currentColor;
}

.clients-logo:hover {
  color: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-text-color);
}

.footer-logo {
  margin-right: 156px;
}

.footer-header {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-text-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-social {
  display: flex;

  gap: 10px;
}

.footer-link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--fourth-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.address-info,
.address-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item,
.address-mail {
  margin-bottom: 9px;
}

.address-info {
  color: var(--fourth-text-color);
}

.address-link {
  color: var(--address-color);
}

.address-link:hover,
.address-link:focus,
.address-info:hover,
.address-info:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.footer-join {
  margin-right: 93px;
}

.footer-subscribe {
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-text-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.mail {
  display: inline-block;
  margin-right: 12px;
}

.subscribe-email {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
  background: var(--secondary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email:hover,
.subscribe-email:focus {
  outline: none;

  border-color: var(--accent-color);
  cursor: pointer;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--fourth-text-color);
  background: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-hover);
  cursor: pointer;
}

/* portfolio page styles */

.header.portfolio {
  border-bottom: 1px solid var(--border-color);
}

.portfolio {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  border-color: transparent;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  margin-right: 8px;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--fourth-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  cursor: pointer;
}

.portfolio-image:hover,
.portfolio-image:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-images {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-image {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-before {
  position: relative;

  overflow: hidden;
}

.portfolio-image:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-border {
  padding: 20px 24px 20px 24px;

  background-color: var(--fourth-text-color);

  border: 1px solid var(--border-color);
  border-top: transparent;
}

.portfolio-header {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%);
  background-color: var(--fourth-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  text-align: center;
}

.close-button {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 8px;
  right: 8px;
  background-color: var(--fourth-text-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/* Form */

.form-element {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-element.last {
  margin-bottom: 0px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--third-text-color);
}

.form-input.textarea {
  width: 448px;
  height: 120px;

  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  resize: none;
}

.form-input {
  height: 40px;
  padding-left: 42px;
  width: 100%;
  font-size: 12px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  border-radius: 4px;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:hover + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);
}

.input-wrap {
  position: relative;
}

.submit-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 52px;

  border: transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--fourth-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.label-accept {
  display: flex;
  align-items: center;
}

.accept {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 30px;

  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

.hidden {
  opacity: 0;
  appearance: none;
  pointer-events: none;
}

.checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;

  display: flex;
  align-items: center;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.accept-input:checked + .checkbox {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border: none;

  display: flex;
  justify-content: center;
}

.accept-input:focus + .checkbox,
.accept-input:hover + .checkbox {
  border-color: #188ce8;
}

.terms {
  color: var(--accent-color);
}
